<a href="https://colab.research.google.com/github/Neucielle/AulasSoulCode/blob/main/AulaSoulCode_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introdução ao Python**

Escola: SouCode Academy

Curso: Análise de Dados e Dashboards

Período: Noturno

Assunto: Python

Professora: Franciane Rodrigues

Aluna: Neucielle Quadros

## **Comentário e tipos básicos de dados**

In [ ]:
print('Olá Mundo') # Usando aspas simples
print("Olá Mundo") # Usando aspas duplas

Olá Mundo
Olá Mundo

In [ ]:
##Isso aqui é um comentário

In [ ]:
'''
Isso é um
comentário
Longo ou grande
'''

'\nIsso é um \ncomentário \nLongo ou grande\n'

In [ ]:
"""Isso tambem é um comentario """

'Isso tambem é um comentario '

In [ ]:
# Vamos escrever nossos dados pessoais e imprimir na tela
print(33)               #int - numerica / quantitativa
print(1.65)             # float - numerica / quantitativa
print('Neucielle')      # str (string)  - qualitativas / categoricas
print("Quadros")        # str(string)  - qualitativas / categoricas
print(False)            # bool  - qualitativas / categoricas

33
1.65
Neucielle
Quadros
False

## **Variáveis**

In [ ]:
# Declarando Variáveis
idade = 33
altura = 1.65
nome = "Neucielle"
sobrenome = 'Quadros'
filhos = False


# Imprimindo na tela

print(idade)
print(altura)
print(nome)
print(sobrenome)
print(filhos)


print(idade, altura, nome, sobrenome, filhos, sep=', ')

33
1.65
Neucielle
Quadros
False
33, 1.65, Neucielle, Quadros, False

In [ ]:
#Checando o tipo de dado
type(idade)

int

In [ ]:
#Checando o tipo de dado guardado em cada variavel
print(type(idade))
print(type(altura))
print(type(nome))
print(type(sobrenome))
print(type(filhos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [ ]:
#Armazenando string e números

nome_completo = 'Neucielle Quadros'
numero_fav = '34'

In [ ]:
#checando o tipo de variável
print(type(nome_completo))
print(type(numero_fav))

<class 'str'>
<class 'str'>

In [ ]:
# Atenção: O python é sensivel à letras maiusculas e minúsculas
nome = 'Neucielle'
print(nome)

Neucielle

In [ ]:
#Chamando variável com letra minuscula.
# print(Nome) # => Case sensitive